/vendor/
.idea
/exporter/
/temp/
/logs/
/api/logs/
/pkg/k8s/apis/vendor/
/pkg/k8s/client/vendor/
/api/vendor/
/dev/data/
/kube.config
/eventroute
/deploy/online/eventroute
/deploy/online/config.yml
/deploy/online/default.tmpl
/deploy/online/route.yml
/deploy/test/eventroute
/deploy/test/config.yml
/deploy/test/default.tmpl
/deploy/test/route.yml
